{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Hola folks!</h2>
        <p>This is Midhun Varma, currently persuing my bachelors degree at Indian Institute of Information Technology, Pune. I am a developer and tech enthusiast. I am an absolute anime nut!</p>
        <p>I also adore music and movies in addition to anime. Contact me if you like anime and would want to express your opinions. Time to catch up!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}